/*
    common CSS3 Features
*/
html {
  font-size: 62.5%; /* 62.5% = 10px = 1rem*/
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

header {
  grid-area: "header";
  background-color: #203040;
}

main {
  grid-area: "main";
  padding: 1rem;
}

footer {
  grid-area: "footer";
  background-color: #203040;
  color: #ffffff;
}

.row.center {
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}

a:hover {
  color: #ff8080;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #8989a0;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a0a0;
  background-color: #eeffe0;
}

.rating span {
  color: #ecb00a;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  margin: 1rem;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.back_screen {
  color: blue;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-1 {
  flex: 1 1 25rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.success {
  color: #008000;
}

.error {
  color: #a02020;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}


.badge{
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
};


img.small{
  min-width: 5rem;
  width: 100%;
}
