/*
    common CSS3 Features
*/
html {
  font-size: 62.5%; /* 62.5% = 10px = 1rem*/
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

header {
  grid-area: "header";
  background-color: #203040;
}

main {
  grid-area: "main";
  padding: 1rem;
}

footer {
  grid-area: "footer";
  background-color: #203040;
  color: #ffffff;
}

.row.center {
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}

a:hover {
  color: #ff8080;
}
